<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Seja Bem vind@ ao Doaê</h1>
    <p>
        Ficamos muito felizes de ter vocês aqui, e esperamos ajudar a espalhar cada vez mais a semente do bem ❤️
    </br></br>
        Aqui vão algumas dicas para que você possa aproveitar nossa plataforma da melhor maneira possível:
    </br></br>
        • Mantenha os dados atualizados: Lembre-se que é através deles que os doadores poderão entrar em contato
    </br></br>
        • Verifique periodicamente as doações recebidas: Somente após confirmar a doação que ela passa a contabilizar na meta principal.
    </br></br>
        • Utilize o feed! Através das postagens realizadas os doadores podem acompanhar de perto o trabalho da instituição
    </br></br>
        • Compartilhe nas redes sociais: Isso ajuda mais pessoas a conhecerem o Doaê, e ingressarem junto com a gente nessa corrente
    </br></br>

        'Doar, inovar e acreditar'
    </br></br>

        Atenciosamente</br>      
        Equipe Doaê</p>
</body>
</html>